body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #0095da; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
    background-color: #0095da;
}
h1 {
    color: black; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h1:hover {
    animation: color-change 3s infinite;
}
@keyframes color-change {
    0% {
      color: rgb(0, 0, 0);
    }
  
    50% {
      color: rgb(255, 255, 255);
    }
  
    100% {
      color: rgb(0, 0, 0);
    }
}
h2 {
    color: black; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h2:hover {
  animation: color-change 3s infinite;
}
p {
    color: black; /* Цвет заголовка */
    font-size: 20px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
li {
    color: black; /* Цвет заголовка */
    font-size: 20px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
img {
  width: 47%;
  height: 47%;
  margin: 0;
  padding: 0;
}
@keyframes color-change {
    0% {
      color: rgb(0, 0, 0);
    }
  
    50% {
      color: rgb(255, 255, 255);
    }
  
    100% {
      color: rgb(0, 0, 0);
    }
}
